<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Torola - Creative Portfolio HTML Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="img/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="css/core.css">
	<link rel="stylesheet" href="css/theme.css">
</head>
<body class="sticky-header sticky-footer">

	<!-- Preloader -->
	<div id="preloader"></div>
	
	<!-- Header -->
	<header id="header">

		<!-- Logo -->
		<a href="..\..\index.html" class="logo">
			<img src="img/logo-light.png" class="logo-light" alt="">
			<img src="img/logo-dark.png" class="logo-dark" alt="">
		</a>

		<!-- Mobile Menu Icon -->
		<a href="#" class="mob-menu">
			<span></span><span></span><span></span>
		</a>

		<!-- Navigation -->
		<nav class="navigation">
			<ul>

				<li class="has-mega-menu">
					<a href="..\..\index.html">Home</a>
					<div class="mega-menu">
	
						</div>
					</div>
				</li>


			</ul>
		</nav>
		<!-- /Navigation -->

	</header>
	<!-- /Header -->

	<!-- Main Content -->
	<main id="main">

		<!-- Slider Section -->
		<section class="hero hero-fullscreen slider-thumbnails">

			<!-- Original Images -->
			<div class="swiper" 
			     data-swiper-name="original-images" 
			     data-sync="thumbnail-images" 
			     data-mousewheel="true"
			     data-keyboard="true"
			     data-effect="fade">
				<div class="swiper-slide" data-background="img/gallery/7F2A6282.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/7F2A9179.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/7F2A9282.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/7F2A9301.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A1340.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A1343.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A3548.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A3682.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A3791.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A4272.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A4358.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A9808.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/1AF1Q1830.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/AF1Q1845.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/AF1Q3265.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/AF1Q3276.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/AF1Q4742.jpg"></div>             
                <div class="swiper-slide" data-background="img/gallery/AF1Q6015.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/AF1Q6262.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/DSCF4155.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/DSCF4166.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/DSCF5814.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/DSCF5855.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/DSCF5868.jpg"></div>
                
                
                
                
                
                
			</div>
			<!-- /Original Images -->

			<!-- Thumbnail Images -->
			<div class="thumbnail-images">			
				<div class="swiper" 
				     data-swiper-name="thumbnail-images" 
				     data-sync="original-images" 
				     data-slides-per-view="auto" 
				     data-centered-slides="true">
				<div class="swiper-slide" data-background="img/gallery/7F2A6282.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/7F2A9179.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/7F2A9282.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/7F2A9301.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A1340.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A1343.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A3548.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A3682.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A3791.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A4272.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A4358.jpg"></div>
				<div class="swiper-slide" data-background="img/gallery/102A9808.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/1AF1Q1830.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/AF1Q1845.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/AF1Q3265.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/AF1Q3276.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/AF1Q4742.jpg"></div>             
                <div class="swiper-slide" data-background="img/gallery/AF1Q6015.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/AF1Q6262.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/DSCF4155.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/DSCF4166.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/DSCF5814.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/DSCF5855.jpg"></div>
                <div class="swiper-slide" data-background="img/gallery/DSCF5868.jpg"></div>
				</div>
			</div>
			<!-- /Thumbnail Images -->

		</section>
		<!-- /Slider Section -->

	</main>
	<!-- /Main Content -->

	<!-- Footer -->
	<footer id="footer">
		
		<!-- Copyright -->
		<small>&copy; Copyright. AchtungThemes 2018</small>

		<!-- Social/Contact Links -->
		<div class="small text-links">
			<a href="#">Facebook</a>
			<a href="#">Behance</a>
			<a href="#">Instagram</a>
		</div>

	</footer>
	<!-- /Footer -->

	<!-- JS -->
	<script src="js/core.js"></script>
	<script src="js/theme.js"></script>
</body>
</html>